/** @format */

.container {
  position: relative;
}

.userName {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  color: #464e50;
  background-color: rgba(128, 128, 128, 0.2);
  border: solid 1px rgba(128, 128, 128, 0.5);
  border-radius: 0 0 5px 0;
  padding: 5px;
  line-height: 1rem;
  z-index: 100;
}

.canvas {
  border: solid 1px black;
  outline: none;
  width: 100%;
  height: 100%;
}

.hiddenOverlay {
  position: absolute;
  top: 1px;
  left: 1px;
  right: -1px;
  bottom: 5px;

  color: #464e50;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;

  background-color: #d4c0bc;

  visibility: hidden;

  svg {
    opacity: 0.5;
  }
}

.hiddenOverlayActive {
  visibility: visible;
}
