/** @format */

.tooltip {
  position: relative;
}

.tooltipText {
  opacity: 0;
  visibility: hidden;

  position: absolute;
  left: 50%;
  bottom: -2.5rem;
  transform: translateX(-50%);

  padding: 5px 10px;
  white-space: nowrap;
  font-size: 0.8rem;
  background: #333333;
  color: #ffffff;
  border-radius: 3px;
  transition: 0.2s ease-in;

  z-index: 1000;
}

.tooltip:hover .tooltipText {
  opacity: 1;
  visibility: visible;
}
