/** @format */

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.8;
  padding: 5px;

  font-size: 1.5rem;
  line-height: 1.5rem;

  span {
    margin-right: 1rem;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }
}

.visibleIcon {
  cursor: pointer;
  display: inline-block;
  width: 1.4rem;
}

.active {
  color: #aa0000;
}

.inactive {
}
